<!DOCTYPE html>
<html>
  <head>
    <title>VueJs Tutorial - coligo</title>
    <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet">
  <link href="https://unpkg.com/vuetify/dist/vuetify.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
  </head>
  <body>

      <div id="app">
          <v-app>
                  <v-app>
                          <v-toolbar app>
                            <v-toolbar-title>Notre plateforme : Sparkyyy</v-toolbar-title>
                          </v-toolbar>
                          <v-content>
                            <v-container fluid>
                                <v-layout>
                                    <v-flex xs12 sm6 offset-sm3>
                                      <v-card>
                                        <v-card-title primary-title>
                                          <div>
                                            <h3 class="headline mb-0">Enter your name:</h3>
                                            <div><input v-model="name" type="text" placeholder="name">
                                              <button v-on:click="sayHello">Hey you!</button>
                                            </div>
                                          </div>
                                        </v-card-title>
                                        <v-card-actions>
                                            <div v-if="isLoggedIn">
                                                Welcome to coligo!
                                                <v-btn  @click="login"flat color="red">logout</v-btn>
                                              </div>
                                              <div v-else>
                                                <input type="text" placeholder="username">
                                                <input type="password" placeholder="password">
                                                <v-btn  @click="login" flat color="red">Login</v-btn>
                                              </div>
                                        </v-card-actions>
                                      </v-card>
                                    </v-flex>
                                  </v-layout>

                                                         
                            </v-container>
                          </v-content>
          </v-app>
        </div>
        <br>
        <br>
        <br>
        <br>
        <br>

        <script src="https://unpkg.com/vue/dist/vue.js"></script>
        <script src="https://unpkg.com/vuetify/dist/vuetify.js"></script>
     <script>
      // our VueJs instance bound to the div with an id of vue-instance
      var vm = new Vue({
        el: '#app',
        data: {
          name: '',
          isLoggedIn: false
        },
        methods: {
          sayHello: function(){
            alert('Hey ' + this.name + ' tu es un vrai joueur '   )
            ;
          },
          login: function(){
              // 'this' refers to the vm instance
              this.isLoggedIn = !this.isLoggedIn;
              
            }
        }
      });
    </script>
  </body>
</html>